.little_input{max-width: 100%;}
.my-form input.my-btn{
    width: 100%;
    margin-top: 20px
}
.my-form label{
    display: block; margin-bottom: 0;
    line-height: 20px;
    white-space: nowrap;
}
.my-form{
    justify-content: flex-end;
    z-index:1000; width:80%; position:absolute; top:0px; right:8px;
}