.little_input{max-width: 100%;}
.my-form input.my-btn{
    width: 100%;
    margin-top: 20px
}
.my-form label{
    display: inline-block; margin-bottom: 0;
    line-height: 20px;
    white-space: nowrap;
}
.my-form input[type=number]{width: 50px}
.my-form{
    justify-content: flex-end;
    z-index:1000; width:80%; position:absolute; top:0px; right:8px;
}
.my-form .col{flex-grow: 0; padding-left: 2px; padding-right: 2px}
.my-form select{padding: 2px}
.symulation-over{position: absolute; top: -175px;  height: 165px; background: white; left:50%; text-align: center; width: 50%; z-index: 100; transition: top 0.4s ease-out; transform: translate(-30%);}
.symulation-over.open{top:0}