<!DOCTYPE html>
<html dir="ltr"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div th:replace="parts/head :: head"></div>

    <body>
        <div  th:replace="parts/preloader :: preloader"></div>
        <div class="main-wrapper" id="main-wrapper">
            <div  th:replace="parts/topbar :: topbar"></div>
            <div  th:replace="parts/left-sidebar :: left-sidebar"></div>
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div  th:replace="parts/breadcrumb :: breadcrumb"></div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3">
                            <a href="/" class="text-white">
                                <div class="card card-hover">
                                    <div class="box bg-cyan text-center">
                                        <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                                        <h6 class="text-white">Dashboard</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3">
                            <a th:href="@{/strategies}">
                                <div class="card card-hover">
                                    <div class="box bg-success text-center">
                                        <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                                        <h6 class="text-white">Strategies</h6>
                                    </div>
                                </div>
                            </a>    
                        </div>
                        <!-- Column -->

                        <div class="col-md-6 col-lg-3">
                            <a th:href="@{/companies}">
                                <div class="card card-hover">
                                    <div class="box bg-warning text-center">
                                        <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                                        <h6 class="text-white">Companies</h6>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Column -->

                        <div class="col-md-6 col-lg-3">
                            <a th:href="@{/actions}">
                                <div class="card card-hover">
                                    <div class="box bg-danger text-center">
                                        <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                                        <h6 class="text-white">Actions</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" th:each="signal: ${signals}">
                            <a th:href="${'/companies/' + signal.abbreviation}">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title text-center">
                                            <strong th:text="${signal.abbreviation}"></strong><br>
                                            <span class="text-dark small" style="max-width: 100%; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-transform: lowercase;" th:text="${signal.description}"></span>
                                        </div>

                                        <div class="card-text">
                                            <div class="row">
                                                <div class="col-sm-6"><span class="small text-success m-b-0 p-b-0" th:text="${'buy '}"></span></div>
                                                <div class="col-sm-6 text-right"><span class="small text-success m-b-0 p-b-0" th:text="${(100/17*signal.buy) + '%'}"></span></div>
                                            </div>
                                            <div style="border: 1px #eee solid">
                                                <div class="bg-success" th:style="${'height:3px; width:' + (100/17*signal.buy) + '%'}"></div> 
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6"><span class="small text-warning m-b-0 p-b-0" th:text="${'neutral '}"></span></div>
                                                <div class="col-sm-6 text-right"><span class="small text-warning m-b-0 p-b-0" th:text="${(100/17*signal.neutral) + '%'}"></span></div>
                                            </div>
                                            <div style="border: 1px #eee solid">
                                                <div class="bg-warning" th:style="${'height:3px; width:' + (100/17*signal.neutral) + '%'}"></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6"><span class="small text-danger m-b-0 p-b-0" th:text="${'sell '}"></span></div>
                                                <div class="col-sm-6 text-right"><span class="small text-danger m-b-0 p-b-0" th:text="${(100/17*signal.sell) + '%'}"></span></div>
                                            </div>
                                            <div style="border: 1px #eee solid">
                                                <div class="bg-danger" th:style="${'height:3px; width:' + (100/17*signal.sell) + '%'}"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <footer class="footer text-center">
                    All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
                </footer>
            </div>
        </div>
        <div  th:replace="parts/requiredjs :: requiredjs"></div>
        <script>
            
        </script>
    </body>
</html>