<!DOCTYPE html>
<html dir="ltr"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div th:replace="parts/head :: head"></div>

    <body>
        <div  th:replace="parts/preloader :: preloader"></div>
        <div class="main-wrapper" id="main-wrapper">
            <div  th:replace="parts/topbar :: topbar"></div>
            <div  th:replace="parts/left-sidebar :: left-sidebar"></div>
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div  th:replace="parts/breadcrumb :: breadcrumb"></div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <div th:replace="parts/topmenu :: topmenu"></div>
                    <div class="row p-b-30">
                        <div class="col-sm-12">
                            <h3 class="d-inline">TOP 48 </h3>
                            <select class="form-control ml-5" style="display: inline-block; width: 20%; float: right" id="strategies_select">
                                <option value="0">Choose strategy</option>
                                <option th:each="str: ${strategies}" th:value="${str.id}" th:text="${str.name}" th:selected="${current_strategie_id==str.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" th:each="signal: ${mpsignals}">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="row">
                                            <div class="col-md-12" style="max-width: 100%; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <strong th:text="${signal.abbreviation}" style="margin-right: 12px"></strong>
                                                <span class="text-dark small" style="text-transform: lowercase;" th:text="${signal.description}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-sm-6"><span class="small text-success m-b-0 p-b-0" th:text="${'buy '}"></span></div>
                                            <div class="col-sm-6 text-right"><span class="small text-success m-b-0 p-b-0" 
                                                                th:text="${#numbers.formatDecimal(100*((0.0 + signal.buy)/(signal.buy+signal.sell+signal.neutral)), 0, 0) + '%'}"></span></div>
                                        </div>
                                        <div style="border: 1px #eee solid">
                                            <div class="bg-success" th:style="${'height:3px; width:' + #numbers.formatDecimal(100*((0.0 + signal.buy)/(signal.buy+signal.sell+signal.neutral)), 0, 0) + '%'}"></div> 
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"><span class="small text-warning m-b-0 p-b-0" th:text="${'neutral '}"></span></div>
                                            <div class="col-sm-6 text-right"><span class="small text-warning m-b-0 p-b-0" 
                                                                 th:text="${#numbers.formatDecimal(100*((0.0 + signal.neutral)/(signal.buy+signal.sell+signal.neutral)), 0, 0) + '%'}"></span></div>
                                        </div>
                                        <div style="border: 1px #eee solid">
                                            <div class="bg-warning" th:style="${'height:3px; width:' + #numbers.formatDecimal(100*((0.0 + signal.neutral)/(signal.buy+signal.sell+signal.neutral)), 0, 0) + '%'}"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6"><span class="small text-danger m-b-0 p-b-0" th:text="${'sell '}"></span></div>
                                            <div class="col-sm-6 text-right"><span class="small text-danger m-b-0 p-b-0" 
                                                                 th:text="${#numbers.formatDecimal(100*((0.0 + signal.sell)/(signal.buy+signal.sell+signal.neutral)), 0, 0) + '%'}"></span></div>
                                        </div>
                                        <div style="border: 1px #eee solid">
                                            <div class="bg-danger" th:style="${'height:3px; width:' + #numbers.formatDecimal(100*((0.0 + signal.sell)/(signal.buy+signal.sell+signal.neutral)), 0, 0) + '%'}"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12"><small style="font-size: 10px; color: #333" th:text="${#temporals.format(signal.updatedatetime, 'dd.MM.yyyy HH:mm')}"></small></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a class="btn btn-sm btn-cyan" th:href="${'/mp/' + signal.abbreviation + '/' + current_strategie_id}">
                                                Indicators detail
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox_ d-inline-block float-right">
                                                <input th:id="${'checkbox_'+signal.abbreviation}" type="checkbox" value="1" th:checked="${signal.active == true}" th:attr="data-aabreviation=${signal.abbreviation}">
                                                <label th:for="${'checkbox_'+signal.abbreviation}">active</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer text-center">
                    All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
                </footer>
            </div>
        </div>
        <div  th:replace="parts/requiredjs :: requiredjs"></div>
        <script>
            $('#strategies_select').change(function () {
                if ($(this).val() > 0) {
                    parent.location.href = '/dashboard/' + $(this).val()
                }
            });
            $(".checkbox_ input[type=checkbox]").each(function () {
                var that = $(this);
                that.change(function () {
                    //console.info(that.data("aabreviation"));
                    setTimeout(function () {
                        if (!that.is(":checked")) {
                            if (confirm('Are you sure you want to change the status to inactive?')) {
                                $.ajax({
                                    url: "/companies/inactive/"+that.data("aabreviation"),
                                    type: "delete",
                                    success : function(){
                                        parent.location.href = "/dashboard/[[${current_strategie_id}]]"
                                    }
                                });
                            } else {
                                that.prop('checked', true);
                            }
                        }
                    }, 300)

                });

            });
            var strategies_id = parseInt("[[${current_strategie_id}]]");
            if (typeof (Storage) !== "undefined") {
                if(strategies_id > 0){
                    localStorage.setItem("strategies_id", strategies_id);
                }
            }
        </script>
    </body>
</html>