<!DOCTYPE html>
<html dir="ltr"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div th:replace="parts/head :: head"></div>

    <body>
        <div  th:replace="parts/preloader :: preloader"></div>
        <div class="main-wrapper" id="main-wrapper">
            <div  th:replace="parts/topbar :: topbar"></div>
            <div  th:replace="parts/left-sidebar :: left-sidebar"></div>
            <div class="page-wrapper">
                <div  th:replace="parts/breadcrumb :: breadcrumb"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-cyan" th:href="${'/companies/' + symbol}">Company detail</a>
                            <a class="btn btn-primary" th:href="@{'/'}">Strong buy companies</a>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_price"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_bollinger"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_stoch"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_rsi"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_macd"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_mfl"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_sma"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_adx"></div>
                        </div>
                    </div>
                </div>
                <div  th:replace="parts/footer :: footer"></div>
            </div>
        </div>
        <div  th:replace="parts/requiredjs :: requiredjs"></div>
        <script>
            //PRICE
            $.ajax({
                url: "/indicator/price/[[${symbol}]]",
                success: function (obj) {
                    var options = {
                        tooltip: {
                            fixed: {
                                enabled: true,
                                position: 'topLeft',
                                offsetX: 70,
                                offsetY: 40,
                            }
                        },
                        series: [{
                                name: "Close Price",
                                data: obj.price
                            }],
                        chart: {
                            toolbar: {
                                show: false
                            },
                            height: 400,
                            id: 'price',
                            group: 'ind',
                            type: 'area',
                            zoom: {
                                enabled: false
                            },
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 2,
                                blur: 1,
                                opacity: 0.2
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight',
                            width: 1,
                            colors: ["#2255a4"],
                            dashArray: [0, 0]
                        },

                        title: {
                            text: 'Close Price',
                            align: 'left',
                            margin: 0,
                            offsetY: 24,
                            offsetX: 36
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: obj.dates,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                show: true
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        yaxis: {
                            show: true,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                formatter: (value) => {
                                    return value.toFixed(2)
                                },
                                minWidth: 60,
                                maxWidth: 60
                            }
                        },
                        legend: {
                            show: false
                        }
                    };

                    var chart_price = new ApexCharts(document.querySelector("#chart_price"), options);
                    chart_price.render();
                }
            });
            //RSI
            $.ajax({
                url: "/indicator/rsi/[[${symbol}]]",
                success: function (obj) {
                    var options = {
                        tooltip: {
                            fixed: {
                                enabled: true,
                                position: 'topLeft',
                                offsetX: 70,
                                offsetY: 40,
                            }
                        },
                        annotations: {
                            yaxis: [
                                {
                                    y: [obj.top[0]],
                                    borderColor: '#000000',
                                },
                                {
                                    y: [obj.bottom[0]],
                                    borderColor: '#000000',
                                }
                            ]
                        },
                        series: [{
                                name: "RSI",
                                data: obj.R
                            }],
                        chart: {
                            toolbar: {
                                show: false
                            },
                            height: 180,
                            id: 'rsi',
                            group: 'ind',
                            type: 'line',
                            zoom: {
                                enabled: false
                            },
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 2,
                                blur: 1,
                                opacity: 0.2
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight',
                            width: 1,
                            colors: ["#2255a4"],
                            dashArray: [0, 0]
                        },

                        title: {
                            text: 'RSI',
                            align: 'left',
                            margin: 0,
                            offsetY: 24,
                            offsetX: 36
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: obj.dates,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                show: true
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        yaxis: {
                            show: true,
                            min: 0,
                            max: 100,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                formatter: (value) => {
                                    return value.toFixed(2)
                                },
                                minWidth: 60,
                                maxWidth: 60
                            }
                        },
                        legend: {
                            show: false
                        }
                    };

                    var chart_rsi = new ApexCharts(document.querySelector("#chart_rsi"), options);
                    chart_rsi.render();
                }
            });
            //STOCHASTIC
            $.ajax({
                url: "/indicator/stochastic/[[${symbol}]]",
                success: function (obj) {
                    var options = {
                        tooltip: {
                            fixed: {
                                enabled: true,
                                position: 'topLeft',
                                offsetX: 70,
                                offsetY: 40,
                            }
                        },
                        annotations: {
                            yaxis: [
                                {
                                    y: [80],
                                    borderColor: '#000000',
                                },
                                {
                                    y: [20],
                                    borderColor: '#000000',
                                }
                            ]
                        },
                        colors: ["#ff1a1a", "#008200"],
                        series: [{
                                name: "Stoch %K",
                                data: obj.K
                            },
                            {
                                name: "Stoch %D",
                                data: obj.D
                            }],
                        chart: {
                            toolbar: {
                                show: false
                            },
                            height: 180,
                            id: 'sto',
                            group: 'ind',
                            type: 'line',
                            zoom: {
                                enabled: false
                            },
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 2,
                                blur: 1,
                                opacity: 0.2
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight',
                            width: 1,
                            colors: ["#ff1a1a", "#008200"],
                            dashArray: [0, 0]
                        },

                        title: {
                            text: 'Slow Stochastic',
                            align: 'left',
                            margin: 0,
                            offsetY: 24,
                            offsetX: 36
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: obj.dates,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                show: true
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        yaxis: {
                            show: true,
                            min: 0,
                            max: 100,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                formatter: (value) => {
                                    return value.toFixed(2)
                                },
                                minWidth: 60,
                                maxWidth: 60
                            }
                        },
                        legend: {
                            show: false
                        }
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_stoch"), options);
                    chart.render();
                }
            });
            //SMA
            $.ajax({
                url: "/indicator/sma/[[${symbol}]]",
                success: function (obj) {
                    var options = {
                        tooltip: {
                            fixed: {
                                enabled: true,
                                position: 'topLeft',
                                offsetX: 70,
                                offsetY: 40,
                            }
                        },
                        colors: ["#ff1a1a"],
                        series: [{
                                name: "SMA",
                                data: obj.SMA
                            }],
                        chart: {
                            toolbar: {
                                show: false
                            },
                            height: 180,
                            id: 'sma',
                            group: 'ind',
                            type: 'area',
                            zoom: {
                                enabled: false
                            },
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 2,
                                blur: 1,
                                opacity: 0.2
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight',
                            width: 1,
                            dashArray: [0, 0]
                        },

                        title: {
                            text: 'SMA',
                            align: 'left',
                            margin: 0,
                            offsetY: 24,
                            offsetX: 36
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: obj.dates,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                show: true
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        yaxis: {
                            show: true,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                formatter: (value) => {
                                    return value.toFixed(2)
                                },
                                minWidth: 60,
                                maxWidth: 60
                            }
                        },
                        legend: {
                            show: false
                        }
                    };

                    var chart = new ApexCharts(document.querySelector("#chart_sma"), options);
                    chart.render();
                }
            });
            //MACD
            $.ajax({
                url: "/indicator/macd/[[${symbol}]]",
                success: function (obj) {
                    var options = {
                        tooltip: {
                            fixed: {
                                enabled: true,
                                position: 'topLeft',
                                offsetX: 70,
                                offsetY: 40,
                            }
                        },
                        series: [
                            {
                                name: "MACD",
                                type: 'area',
                                data: obj.macd
                            }],
                        chart: {
                            toolbar: {
                                show: false
                            },
                            height: 180,
                            id: 'macd',
                            group: 'ind',
                            type: 'line',
                            zoom: {
                                enabled: false
                            },
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 2,
                                blur: 1,
                                opacity: 0.2
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        colors: ["#ffb848"],
                        stroke: {
                            curve: 'straight',
                            width: 1,
                            colors: ["#ff1a1a"]
                        },

                        title: {
                            text: 'MACD',
                            align: 'left',
                            margin: 0,
                            offsetY: 24,
                            offsetX: 36
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: obj.dates,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        yaxis: [{
                                show: true,
                                axisBorder: {
                                    show: true,
                                    color: '#78909C',
                                    offsetX: 0,
                                    offsetY: 0
                                },
                                labels: {
                                    formatter: (value) => {
                                        return value.toFixed(2)
                                    },
                                    minWidth: 60,
                                    maxWidth: 60
                                }
                            }],
                        legend: {
                            show: false
                        }
                    };

                    var chart2 = new ApexCharts(document.querySelector("#chart_macd"), options);
                    chart2.render();
                }
            });
            //BOLLINGER
            $.ajax({
                url: "/indicator/bollinger/[[${symbol}]]",
                success: function (obj) {
                    var options = {
                        tooltip: {
                            fixed: {
                                enabled: true,
                                position: 'topLeft',
                                offsetX: 70,
                                offsetY: 40,
                            }
                        },
                        series: [{
                                name: "Up",
                                data: obj.BU
                            },
                            {
                                name: "Close price",
                                data: obj.BP
                            },
                            {
                                name: "Middle",
                                data: obj.BM
                            },
                            {
                                name: "Low",
                                data: obj.BL
                            },
                        ],
                        colors: ['#28b779', '#da542e', '#fb8c00', '#20c997'],
                        chart: {
                            toolbar: {
                                show: false
                            },
                            height: 400,
                            id: 'boll',
                            group: 'ind',
                            type: 'line',
                            zoom: {
                                enabled: false
                            },
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 2,
                                blur: 1,
                                opacity: 0.2
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight',
                            width: [1, 2, 1, 1],
                            dashArray: [0, 0]
                        },

                        title: {
                            text: 'Bollinger Band',
                            align: 'left',
                            margin: 0,
                            offsetY: 24,
                            offsetX: 36
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: obj.dates,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                show: true
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        yaxis: {
                            show: true,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                formatter: (value) => {
                                    return value.toFixed(2)
                                },
                                minWidth: 60,
                                maxWidth: 60
                            }
                        },
                        legend: {
                            show: false
                        }
                    };

                    var chart_bollinger = new ApexCharts(document.querySelector("#chart_bollinger"), options);
                    chart_bollinger.render();
                }
            });
            //CANDLES
            /*$.ajax({
                url: "/indicator/candles/[[${symbol}]]",
                success: function (obj) {
                    var options = {
                        tooltip: {
                            fixed: {
                                enabled: true,
                                position: 'topLeft',
                                offsetX: 70,
                                offsetY: 40,
                            }
                        },
                        series: [{
                                data: obj.CND,
                                type: 'candlestick',
                                name: 'Open price'
                            }],
                        chart: {
                            toolbar: {
                                show: false
                            },
                            type: 'line',
                            height: 400,
                            id: 'cnd',
                            group: 'ind',
                        },
                        title: {
                            text: 'CandleStick Chart',
                            align: 'left'
                        }, stroke: {
                            width: [1, 1, 1, 1]
                        },
                        dataLabels: {
                            enabled: false
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                show: true
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        yaxis: {
                            show: true,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                formatter: (value) => {
                                    return value.toFixed(2)
                                },
                                minWidth: 60,
                                maxWidth: 60
                            }
                        },
                        legend: {
                            show: false
                        }
                    };

                    var chart_candle = new ApexCharts(document.querySelector("#chart_candle"), options);
                    chart_candle.render();
                }
            });*/
            //MONEYFLOW
            $.ajax({
                url: "/indicator/moneyflow/[[${symbol}]]",
                success: function (obj) {
                    var options = {
                        tooltip: {
                            fixed: {
                                enabled: true,
                                position: 'topLeft',
                                offsetX: 70,
                                offsetY: 40,
                            }
                        },
                        annotations: {
                            yaxis: [
                                {
                                    y: [80],
                                    borderColor: '#000000',
                                },
                                {
                                    y: [20],
                                    borderColor: '#000000',
                                }
                            ]
                        },
                        series: [{
                                name: "MFL",
                                data: obj.MF
                            }],
                        chart: {
                            toolbar: {
                                show: false
                            },
                            height: 180,
                            id: 'rsi',
                            group: 'ind',
                            type: 'line',
                            zoom: {
                                enabled: false
                            },
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 2,
                                blur: 1,
                                opacity: 0.2
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight',
                            width: 1,
                            colors: ["#da542e"],
                            dashArray: [0, 0]
                        },

                        title: {
                            text: 'Money Flow',
                            align: 'left',
                            margin: 0,
                            offsetY: 24,
                            offsetX: 36
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: obj.dates,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                show: true
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        yaxis: {
                            show: true,
                            min: 0,
                            max: 100,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                formatter: (value) => {
                                    return value.toFixed(2)
                                },
                                minWidth: 60,
                                maxWidth: 60
                            }
                        },
                        legend: {
                            show: false
                        }
                    };

                    var chart_rsi = new ApexCharts(document.querySelector("#chart_mfl"), options);
                    chart_rsi.render();
                }
            });
            //ADX
            $.ajax({
                url: "/indicator/adx/[[${symbol}]]",
                success: function (obj) {
                    var options = {
                        tooltip: {
                            fixed: {
                                enabled: true,
                                position: 'topLeft',
                                offsetX: 70,
                                offsetY: 40,
                            }
                        },
                        annotations: {
                            yaxis: [
                                {
                                    y: 20,
                                    borderColor: '#000000',
                                }
                            ]
                        },
                        series: [{
                                name: "ADX",
                                data: obj.ADX
                            },
                            {
                                name: "D minus",
                                data: obj.DMIN
                            },
                            {
                                name: "D plus",
                                data: obj.DPLUS
                            }
                        ],
                        colors: ['#2255a4', '#da542e', '#28b779'],
                        chart: {
                            toolbar: {
                                show: false
                            },
                            height: 180,
                            id: 'adx',
                            group: 'ind',
                            type: 'line',
                            zoom: {
                                enabled: false
                            },
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 2,
                                blur: 1,
                                opacity: 0.2
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight',
                            width: [2, 1, 1],
                            dashArray: [0, 1, 1]
                        },

                        title: {
                            text: 'ADX Trend',
                            align: 'left',
                            margin: 0,
                            offsetY: 24,
                            offsetX: 36
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: obj.dates,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                show: true
                            },
                            tooltip: {
                                enabled: false
                            }
                        },
                        yaxis: {
                            show: true,
                            axisBorder: {
                                show: true,
                                color: '#78909C',
                                offsetX: 0,
                                offsetY: 0
                            },
                            labels: {
                                formatter: (value) => {
                                    return value.toFixed(2)
                                },
                                minWidth: 60,
                                maxWidth: 60
                            }
                        },
                        legend: {
                            show: false
                        }
                    };

                    var chart_adx = new ApexCharts(document.querySelector("#chart_adx"), options);
                    chart_adx.render();
                }
            });
        </script>
    </body>
</html>