<!DOCTYPE html>
<html dir="ltr"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div th:replace="parts/head :: head"></div>

    <body>
        <div  th:replace="parts/preloader :: preloader"></div>
        <div class="main-wrapper" id="main-wrapper">
            <div th:if="${strategies.id > 0}" class="symulation-over">
                <div id="chart_symulation"></div>
            </div>
            <div  th:replace="parts/topbar :: topbar"></div>
            <div  th:replace="parts/left-sidebar :: left-sidebar"></div>
            <div class="page-wrapper">
                <div  th:replace="parts/breadcrumb :: breadcrumb"></div>
                <div class="container-fluid">

                    <div class="text-center">
                        <a class="btn btn-primary float-left" id="back-to-dashboard" href="javascript:void(0)"><i class="fas fa-backward"></i> Strong buy companies</a>
                        <span th:text="${'Strategy editor: '+strategies.name}" style="display: inline-block; font-size: 18px; margin-left: 20px; font-weight: bold"></span>
                        <a class="btn btn-warning float-right" th:href="@{/strategies}">All strategies <i class="fas fa-forward"></i></a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pb-3">
                            <div><label>&nbsp;</label></div>
                            <div>
                                <a class="btn btn-success" th:href="@{/companies/strategy/{current_startegies_id}(current_startegies_id=${strategies.id})}">Change company</a>
                                <select class="form-control" style="display: inline-block; width: auto" id="strategies_select">
                                    <option value="0">Create new strategy</option>
                                    <option th:each="str: ${strategies_select}" th:value="${str.id}" th:text="${str.name}" th:selected="${strategies.id==str.id}"></option>
                                </select>
                                <a th:if="${strategies.id>0}" class="btn btn-danger" href="javascript:void(0)" id="start-symulation">Open/Close symulation</a>
                            </div>
                        </div>


                        <div class="col-md-6 text-right pb-3" style="box-sizing: border-box">
                            <div>
                                <label style="width: 22%; display: inline-block" class="text-left">Name</label>
                                <label style="width: 22%; display: inline-block" class="text-left">Time range</label>
                                <!--<label style="width: 22%; display: inline-block" class="text-left">Support time range</label>-->
                                <label style="width: 22%; display: inline-block" class="text-left">&nbsp;</label>
                            </div>
                            <div>
                                <input type="text" id="strategy_name" th:value="${strategies.name}" class="form-control" style="width: 22%; display: inline-block">
                                <input type="number" id="strategy_timerange" th:value="${strategies.timeRange}"  class="form-control" style="width: 22%; display: inline-block">
                                <input type="hidden" id="strategy_supporttimerange" th:value="${strategies.supportTimeRange}" class="form-control" style="width: 22%; display: inline-block">
                                <input type="hidden" id="strategy_id" th:value="${strategies.id}">

                                <a th:if="${strategies.id == 0}" class="btn btn-danger" id="strategy_save" href="#" style="width: 22%; display: inline-block">Create strategy</a>
                                <a th:if="${strategies.id > 0}" class="btn btn-danger" id="strategy_save" href="#" style="width: 22%; display: inline-block">Update strategy</a>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="my-charts">
                        <div class="col-12" th:if="${strategies.id > 0 && aggregate != null}">
                            <div th:replace="parts/progress :: progress"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_price"></div>
                        </div>

                        <div class="col-md-6">
                            <div id="chart_bollinger"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_stoch"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_rsi"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_macd"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_mfl"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_sma"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart_adx"></div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <iframe th:src="${'https://widget.finnhub.io/widgets/recommendation?symbol=' + symbol}" style="width: 100%; height: 300px"></iframe>
                        </div>
                        <div class="col-md-4">
                            <iframe th:src="${'https://widget.finnhub.io/widgets/historical-eps?symbol=' + symbol}" style="width: 100%; height: 300px"></iframe>
                        </div>
                        <div class="col-md-4">
                            <div class="card" id="company" style="height: 300px; background: #222222">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h5 class="card-title m-b-20" style="color: #A9A9A9" th:text="${'Company ' + (company.name == null?'N/A':company.name)}"></h5>
                                            <p class="card-text  mt-4">
                                                <span style="display: inline-block; width: 100px; color: #A9A9A9">Exchange</span><span style="color: white" th:text="${company.exchange}"></span><br>
                                                <span style="display: inline-block; width: 100px; color: #A9A9A9">Currency</span><span style="color: white" th:text="${company.currency}"></span><br>
                                                <span style="display: inline-block; width: 100px; color: #A9A9A9">Web url</span><a th:href="${company.weburl}" target="_blank" th:text="${company.weburl}"></a><br>
                                                <span style="display: inline-block; width: 100px; color: #A9A9A9">Industry</span><span style="color: white" th:text="${company.finnhubIndustry}"></span><br>
                                                <span style="display: inline-block; width: 100px; color: #A9A9A9">Capitalization</span><span style="color: white" th:text="${company.marketCapitalization}"></span><br>
                                                <span style="display: inline-block; width: 100px; color: #A9A9A9">Outstanding</span><span style="color: white" th:text="${company.shareOutstanding}"></span><br>
                                            </p>
                                        </div>
                                        <div class="col-sm-3"><img class="card-img" th:src="${company.logo}"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card -->
                        </div>
                    </div>
                </div>
                <div  th:replace="parts/footer :: footer"></div>
            </div>
        </div>
        <div  th:replace="parts/requiredjs :: requiredjs"></div>
        <script src="/js/apexcharts/apexcharts.min.js"></script>
        <script src="/js/indicators.js"></script>
        <script src="/js/toastr.min.js"></script>
        <script>

            function createButton(selector, id, data, description, name, symbol, chart) {
                var obj = $(selector);
                var html = "<form action='#'><div class='row my-form' id='" + id + "'>";

                html += "<input type='hidden' class='charts-form' name='abbreviation' value='" + name + "'>";
                html += createSelect(data[5], 'active');
                html += createSelect(data[6], 'reverse');
                html += createInput(description[0], data[0], 'bottom_border');
                html += createInput(description[1], data[1], 'top_border');
                html += createInput(description[2], data[2], 'period');
                html += createInput(description[3], data[3], 'period_short');
                html += createInput(description[4], data[4], 'period_long');

                html += "<div class='col-md-3 text-right'>";
                html += "<input type='button' class='btn btn-sm btn-warning btn-test' value='Test'>";
                html += "<input type='button' class='btn btn-sm btn-success btn-reset' value='Reset'>";
                html += "</div>";

                html += "</div></form>";
                var form = $(html);
                var button = form.find('input[type="button"].btn-test')
                obj.parent().prepend(form);
                button.unbind('click');
                button.bind('click', function () {
                    updateIndicator(name, symbol, form, chart, "/indicator/testindicator");
                });
                var button2 = form.find('input[type="button"].btn-reset');
                button2.unbind('click');
                button2.bind('click', function () {
                    updateIndicator(name, symbol, form, chart, "/indicator/resetindicator", resetFields);
                });


                $('#' + id + ' .charts-form').each(function () {
                    $(this).unbind('blur').bind('blur', function () {
                        updateIndicator(name, symbol, form, chart, "/indicator/testindicator");
                    });
                });
            }

            function resetFields(obj, form) {
                form.find('.bottom_border').val(obj.add[0]);
                form.find('.top_border').val(obj.add[1]);
                form.find('.period').val(obj.add[2]);
                form.find('.period_short').val(obj.add[3]);
                form.find('.period_long').val(obj.add[4]);
            }

            function updateIndicator(name, symbol, form, chart, url, callback) {
                var bottom_border = parseInt(form.find('.bottom_border').val());
                var top_border = parseInt(form.find('.top_border').val());
                var period = parseInt(form.find('.period').val());
                var period_short = parseInt(form.find('.period_short').val());
                var period_long = parseInt(form.find('.period_long').val());

                bottom_border = isNaN(bottom_border) ? 0 : bottom_border;
                top_border = isNaN(top_border) ? 0 : top_border;
                period = isNaN(period) ? 0 : period;
                period_short = isNaN(period_short) ? 0 : period_short;
                period_long = isNaN(period_long) ? 0 : period_long;

                var data = {
                    symbol: symbol,
                    abbreviation: name,
                    bottomBorder: bottom_border,
                    topBorder: top_border,
                    period: period,
                    periodShort: period_short,
                    periodLong: period_long
                };

                $.ajax({
                    url: url,
                    type: "PUT",
                    data: data,
                    success: function (obj) {
                        var series;
                        var annotation = {};
                        switch (name) {
                            case "RSI":
                                series = rsi_series(obj);
                                annotation = rsi_annotation(obj);
                                break;
                            case "STOCHASTIC_SLOW":
                                annotation = stochastic_annotation(obj);
                                series = stochastic_series(obj);
                                break;
                            case "SMA":
                                series = sma_series(obj);
                                break;
                            case "MACD":
                                series = macd_series(obj);
                                break;
                            case "BOLLINGER":
                                series = bollinger_series(obj);
                                break;
                            case "MONEYFLOW":
                                annotation = moneyflow_annotation(obj);
                                series = moneyflow_series(obj);
                                break;
                            case "ADX":
                                annotation = adx_annotation(obj);
                                series = adx_series(obj);
                                break;
                        }
                        if (typeof callback == "function") {
                            callback(obj, form)
                        }
                        chart.updateSeries(series);
                        setTimeout(function () {
                            chart.updateOptions({annotations: annotation}, false, true, false);

                        }, 500)
                    }
                });
            }


            //PRICE
            $.ajax({
                url: "/indicator/price/[[${symbol}]]",
                success: function (obj) {
                    var chart_price = new ApexCharts(document.querySelector("#chart_price"), price_option(obj));
                    chart_price.render();
                    $.ajax({
                        url: "/indicator/support/[[${symbol}]]",
                        success: function (obj) {

                            var support = {}
                            support.yaxis = [];
                            for (var i = 0; i < obj.levels.length; i++) {
                                support.yaxis.push({
                                    y: obj.levels[i],
                                    borderColor: '#FF0000'})
                            }
                            chart_price.updateOptions({annotations: support}, false, true, false);
                        }
                    });

                }
            });
            //RSI
            $.ajax({
                url: "/indicator/rsi/[[${symbol}]]/[[${strategies.id}]]",
                success: function (obj) {
                    var chart_rsi = new ApexCharts(document.querySelector("#chart_rsi"), rsi_option(obj));
                    chart_rsi.render();
                    createButton("#chart_rsi", "ind_rsi", obj.add, ["low", "up", "period", null, null], "RSI", "[[${symbol}]]", chart_rsi);
                }
            });
            //STOCHASTIC
            $.ajax({
                url: "/indicator/stochastic/[[${symbol}]]/[[${strategies.id}]]",
                success: function (obj) {
                    var chart_stoch = new ApexCharts(document.querySelector("#chart_stoch"), stochastic_option(obj));
                    chart_stoch.render();
                    createButton("#chart_stoch", "ind_stoch", obj.add, ["low", "up", "period", "smoothing K", "smoothing D"], "STOCHASTIC_SLOW", "[[${symbol}]]", chart_stoch);
                }
            });
            //SMA
            $.ajax({
                url: "/indicator/sma/[[${symbol}]]/[[${strategies.id}]]",
                success: function (obj) {
                    var chart_sma = new ApexCharts(document.querySelector("#chart_sma"), sma_option(obj));
                    chart_sma.render();
                    createButton("#chart_sma", "ind_sma", obj.add, [null, null, null, "short term", "long term"], "SMA", "[[${symbol}]]", chart_sma);
                }
            });
            //MACD
            $.ajax({
                url: "/indicator/macd/[[${symbol}]]/[[${strategies.id}]]",
                success: function (obj) {
                    var chart_macd = new ApexCharts(document.querySelector("#chart_macd"), macd_option(obj));
                    chart_macd.render();
                    createButton("#chart_macd", "ind_macd", obj.add, [null, null, null, "short term", "long term"], "MACD", "[[${symbol}]]", chart_macd);
                }
            });
            //BOLLINGER
            $.ajax({
                url: "/indicator/bollinger/[[${symbol}]]/[[${strategies.id}]]",
                success: function (obj) {
                    var chart_bollinger = new ApexCharts(document.querySelector("#chart_bollinger"), bollinger_option(obj));
                    chart_bollinger.render();
                    createButton("#chart_bollinger", "ind_bollinger", obj.add, [null, null, "period", null, null], "BOLLINGER", "[[${symbol}]]", chart_bollinger);
                }
            });
            //MONEYFLOW
            $.ajax({
                url: "/indicator/moneyflow/[[${symbol}]]/[[${strategies.id}]]",
                success: function (obj) {
                    var chart_moneyflow = new ApexCharts(document.querySelector("#chart_mfl"), moneyflow_option(obj));
                    chart_moneyflow.render();
                    createButton("#chart_mfl", "ind_mfl", obj.add, ["low", "up", "period", null, null], "MONEYFLOW", "[[${symbol}]]", chart_moneyflow);
                }
            });
            //ADX
            $.ajax({
                url: "/indicator/adx/[[${symbol}]]/[[${strategies.id}]]",
                success: function (obj) {
                    var chart_adx = new ApexCharts(document.querySelector("#chart_adx"), adx_option(obj));
                    chart_adx.render();
                    var x = createButton("#chart_adx", "ind_adx", obj.add, ["trend", null, "period", null, "sma"], "ADX", "[[${symbol}]]", chart_adx);
                }
            });

            var is_simulation_open = false;
            var symulation_price;
            $("#strategy_save").bind('click', saveStrategy);
            $("#strategies_select").bind('change', changeStrategy);
            $("#start-symulation").bind('click', function () {
                $('.symulation-over').toggleClass('open');
                if (!is_simulation_open) {
                    startSimulation();
                }
            });
            if ($('#strategy_id').val() > 0) {
                $(document).ready(startSimulation);
            }


            function startSimulation() {
                $.ajax({
                    url: "/strategies/simulator/[[${symbol}]]/[[${strategies.id}]]",
                    success: function (obj) {
                        if (!is_simulation_open) {
                            console.log(obj);
                            symulation_price = new ApexCharts(document.querySelector("#chart_symulation"), simulator_option(obj));
                            symulation_price.render();
                            $('.symulation-over').addClass('open');
                            is_simulation_open = true;
                        } else {
                            symulation_price.updateSeries(symulation_series(obj));
                        }
                    }
                });
            }

            function changeStrategy() {
                var that = $(this);
                parent.location.href = "/mp/[[${symbol}]]/" + that.val();
            }

            function saveStrategy() {

                var strategies = {
                    id: parseInt($("#strategy_id").val()),
                    timeRange: (!isNaN(parseInt($("#strategy_timerange").val())) && parseInt($("#strategy_timerange").val()) > 0) ? parseInt($("#strategy_timerange").val()) : 14,
                    supportTimeRange: (!isNaN(parseInt($("#strategy_supporttimerange").val())) && parseInt($("#strategy_supporttimerange").val()) > 0) ? parseInt($("#strategy_supporttimerange").val()) : 50,
                    name: $("#strategy_name").val()
                };

                saveUpdateStartegy(strategies, saveUpdateStartegyIndicaors);

            }

            function saveUpdateStartegyIndicaors(strategies_id) {
                var indicators = [];
                $('#my-charts form').each(function () {
                    var that = $(this);
                    var IndicatorsDTO = {}
                    IndicatorsDTO.id = 0;
                    IndicatorsDTO.strategieId = strategies_id;
                    that.find('.charts-form').each(function () {
                        var athis = $(this);
                        IndicatorsDTO[camelCase(athis.attr("name"))] = athis.val();
                    });
                    indicators.push(IndicatorsDTO);
                });

                console.log(indicators);

                $.ajax({
                    url: '/mp/updatestrategyindicators',
                    type: 'post',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(indicators),
                    success: function (html) {
                        show_toastr("The strategy has been saved successfully", "success");
                        //if (parseInt($("#strategy_id").val()) == 0) {
                        setTimeout(function () {
                            parent.location.href = "/mp/[[${symbol}]]/" + strategies_id;
                        }, 1500);
                        /* } else {
                         if (is_simulation_open) {
                         startSimulation();
                         }
                         }*/
                    }
                });
            }

            function saveUpdateStartegy(strategies, callback) {
                $.ajax({
                    url: '/mp/updatestrategy',
                    type: 'post',
                    data: strategies,
                    success: function (status) {
                        console.log(strategies);
                        console.log(status);
                        if (status.success && status.new_id > 0) {
                            if (typeof callback == 'function') {
                                callback(status.new_id);
                            }
                        } else if (status.name_exists) {
                            show_toastr("A strategy with that name exists. Please enter a different name", "error")
                        }
                    }
                });
            }

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            function show_toastr(message, type) {
                console.log('tutaj')
                toastr[type](message);
            }

            function camelCase(input) {
                return input.toLowerCase().replace(/_(.)/g, function (match, group1) {
                    return group1.toUpperCase();
                });
            }

            function createInput(description, data, className) {
                html = "";
                if (description !== null) {
                    html += "<div class='col'>";
                    html += "<label>" + description + "</label>"
                    html += "<input type='number' name='" + className + "' class='charts-form " + className + " little_input' value='" + data + "'> "
                    html += "</div>";
                } else {
                    html += "<input type='hidden' name='" + className + "' class='charts-form " + className + "' value='" + data + "'> ";
                }
                return html;
            }

            function createSelect(data, className) {
                html = "";
                if (className == 'reverse') {
                    html += "<input type='hidden' name='" + className + "' value='false' >";
                } else {
                    html += "<div class='col'>";
                    html += "<label>" + className + "</label>"
                    html += "<select name='" + className + "' class='charts-form " + className + " little_input'>";
                    html += "<option value='false'>no</option>";
                    html += "<option value='true' "
                    if (data) {
                        html += "selected='selected'";
                    }
                    html += ">yes</option>";
                    html += "</select>";
                    html += "</div>";
                }
                return html;
            }
            if (typeof (Storage) !== "undefined") {
                var strategies_id = parseInt("[[${strategies.id}]]");
                localStorage.setItem("abbreviation", "[[${symbol}]]");
                if(strategies_id > 0){
                    localStorage.setItem("strategies_id", strategies_id);
                }
                $('#back-to-dashboard').bind('click', function(){
                    if(parseInt(localStorage.getItem("strategies_id")) > 0){
                        parent.location.href = "/dashboard/"+localStorage.getItem("strategies_id");
                    }else{
                        parent.location.href = "/";
                    }
                });
            }
        </script>
    </body>
</html>