<!doctype html>
<html dir="ltr"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div th:replace="parts/head :: head"></div>

    <body>
        <div class="main-wrapper">
            <div  th:replace="parts/preloader :: preloader"></div>
            <div  th:replace="parts/registerbox :: registerbox"></div>
        </div>
        <div  th:replace="parts/requiredjs :: requiredjs"></div>
        <script>
            $('[data-toggle="tooltip"]').tooltip();
            $(".preloader").fadeOut();
        </script>
    </body>
</html>
