<!DOCTYPE html>
<html dir="ltr"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div th:replace="parts/head :: head"></div>

    <body>
        <div  th:replace="parts/preloader :: preloader"></div>
        <div class="main-wrapper" id="main-wrapper">
            <div  th:replace="parts/topbar :: topbar"></div>
            <div  th:replace="parts/left-sidebar :: left-sidebar"></div>
            <div class="page-wrapper">
                <div  th:replace="parts/breadcrumb :: breadcrumb"></div>
                <div class="container-fluid" style="position: relative">
                    <div th:replace="parts/topmenu :: topmenu"></div>

                    <div class="row">
                        <div class="col-md-6" th:each="strategie : ${strategies}">
                            <div class="card">
                                <div class="card-body">
                                    <h4 th:text="${strategie.name}"></h4>
                                </div>
                                <div>
                                    <table class="table table-hover table-condensed table-bordered">
                                        <tr>
                                            <th>Indicator</th>
                                            <th>Active</th>
                                            <th>Top</th>
                                            <th>Bottom</th>
                                            <th>Period</th>
                                            <th>Short term</th>
                                            <th>Long term</th>
                                        </tr>
                                        <tr th:each="indicator : ${strategie.strategiesIndicatorsList}">
                                            <td style="padding: 2px 1rem" th:text="${indicator.indicatorsAbbreviation}"></td>
                                            <td class="text-center" style="padding: 2px 1rem">
                                                <div th:if="${indicator.active}" style="margin: auto; width: 18px; height: 18px; background: green; border-radius: 100%"></div>
                                                <div th:if="${!indicator.active}" style="margin: auto; width: 18px; height: 18px; background: red; border-radius: 100%"></div>
                                            </td>
                                            <td style="padding: 2px 1rem" th:text="${indicator.topBorder == 0?'-':indicator.topBorder}">Top</td>
                                            <td style="padding: 2px 1rem" th:text="${indicator.bottomBorder == 0?'-':indicator.bottomBorder}">Bottom</td>
                                            <td style="padding: 2px 1rem" th:text="${indicator.period == 0?'-':indicator.period}">Period</td>
                                            <td style="padding: 2px 1rem" th:text="${indicator.periodShort == 0?'-':indicator.periodShort }">Short term</td>
                                            <td style="padding: 2px 1rem" th:text="${indicator.periodLong == 0?'-':indicator.periodLong}">Long term</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="card-body text-right">
                                    <a href="javascript:void(0)"  th:attr="data-stragie_id=${strategie.id}" class="btn btn-sm btn-info edit_strategie"><i class="fas fa-edit"></i> Edit</a>
                                    <a href="javascript:void(0)"  th:attr="data-stragie_id=${strategie.id}" class="btn btn-sm btn-danger delete_strategie"><i class="fas fa-trash-alt"></i> Delete</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="add-strategy" style="cursor: pointer">
                                <i class="fas fa-plus" style="width: 40px; height: 40px; background: red; text-align: center; line-height: 40px; border-radius: 50%; color: white; margin-right: 12px; font-size: 22px"></i> Add new strategy
                            </div>
                        </div>
                    </div>
                </div>
                <div  th:replace="parts/footer :: footer"></div>
            </div>
        </div>
        <div  th:replace="parts/requiredjs :: requiredjs"></div>
        <script>
            $('.edit_strategie').bind('click', function () {
                editStrategie($(this).data("stragie_id"));
            });
            $('.delete_strategie').bind('click', function () {
                deleteStrategies($(this).data("stragie_id"));
            });
            function deleteStrategies(strategie_id) {
                if (confirm('Are you sure you want to delete this strategy ?')) {
                    $.ajax({
                        url: "/strategies/delete/" + strategie_id,
                        type: 'DELETE',
                        success: function (data, textStatus, jqXHR) {
                            parent.location.href = parent.location.href;
                        }
                    });
                }
            }
            function editStrategie(strategie_id) {
                if (localStorage.getItem("abbreviation")) {
                    parent.location.href = "/mp/" + localStorage.getItem("abbreviation") + "/" + strategie_id;
                } else {
                    parent.location.href = "/mp/AAPL/" + strategie_id;
                }
            }
            $('#add-strategy').bind('click', function () {
                if (localStorage.getItem("abbreviation")) {
                    parent.location.href = "/mp/" + localStorage.getItem("abbreviation") + "/";
                } else {
                    parent.location.href = "/mp/AAPL/";
                }
            });
        </script>
    </body>
</html>