<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    </head>
    <body>
        <div class="card" th:fragment="news">
            <div class="card-body">
                <h4 class="card-title m-b-0">News Updates</h4>
            </div>
            <ul class="list-style-none">
                <li class="d-flex no-block card-body">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a href="#" class="m-b-0 font-medium p-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        <span class="text-muted">dolor sit amet, consectetur adipiscing</span>
                    </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">20</h5>
                            <span class="text-muted font-16">Jan</span>
                        </div>
                    </div>
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-gift w-30px m-t-5"></i>
                    <div>
                        <a href="#" class="m-b-0 font-medium p-0">Congratulation Maruti, Happy Birthday</a>
                        <span class="text-muted">many many happy returns of the day</span>
                    </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">11</h5>
                            <span class="text-muted font-16">Jan</span>
                        </div>
                    </div>
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-plus w-30px m-t-5"></i>
                    <div>
                        <a href="#" class="m-b-0 font-medium p-0">Maruti is a Responsive Admin theme</a>
                        <span class="text-muted">But already everything was solved. It will ...</span>
                    </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">19</h5>
                            <span class="text-muted font-16">Jan</span>
                        </div>
                    </div>
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-leaf w-30px m-t-5"></i>
                    <div>
                        <a href="#" class="m-b-0 font-medium p-0">Envato approved Maruti Admin template</a>
                        <span class="text-muted">i am very happy to approved by TF</span>
                    </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">20</h5>
                            <span class="text-muted font-16">Jan</span>
                        </div>
                    </div>
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-question-circle w-30px m-t-5"></i>
                    <div>
                        <a href="#" class="m-b-0 font-medium p-0"> I am alwayse here if you have any question</a>
                        <span class="text-muted">we glad that you choose our template</span>
                    </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">15</h5>
                            <span class="text-muted font-16">Jan</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
