<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    </head>
    <body>
        <div class="card" th:fragment="progress">
            <div class="card-body" style="height: 282px;">
                <h5 class="card-title m-b-0">Aggregate Indicators</h5>
                <p>Get aggregate signal of multiple technical indicators such as MACD, RSI, Moving Average v.v.</p>
                <div class="m-t-20">
                    <div class="d-flex no-block align-items-center">
                        <span th:text="${100/17*aggregate.buy + '% Buy'}"></span>
                        <div class="ml-auto">
                            <span th:text="${aggregate.buy} + ' indicators'"></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="${'width:' + (100/17*aggregate.buy) + '%'}"></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex no-block align-items-center m-t-25">
                        <span th:text="${100/17*aggregate.neutral + '% Neutral'}"></span>
                        <div class="ml-auto">
                            <span th:text="${aggregate.neutral} + ' indicators'"></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"  th:style="${'width:' + (100/17*aggregate.neutral) + '%'}"></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex no-block align-items-center m-t-25">
                        <span th:text="${100/17*aggregate.sell + '% Sell'}"></span>
                        <div class="ml-auto">
                            <span th:text="${aggregate.sell} + ' indicators'"></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"  th:style="${'width:' + (100/17*aggregate.sell) + '%'}"></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex no-block align-items-center m-t-25">
                        <span th:text="${'ADX ' + #numbers.formatDecimal(aggregate.adx == null ? 0 : aggregate.adx, 2, 2)}"></span>
                        <div class="ml-auto">
                            <span th:text="${'Tranding ' + (aggregate.trending?'YES':'NO')}"></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"  th:style="${'width:' + (aggregate.adx) + '%'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
